/* Hotbar design */
#inventory {
  position: fixed;
  bottom: 15px;                
  left: 50%;
  transform: translateX(-50%);  
  padding: 10px 16px;           
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  border: 1px solid #555;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  z-index: 10;
}
/* Hotbar slots deisgn */
#inventory .slot {
  width: 70px;
  height: 70px;
  border: 2px solid #aaa;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Img in hotbar */
#inventory .slot img {
  max-width: 90%;
  max-height: 90%;
}

/* Selected slot indicator */
.slot.selected {
  border: 4px solid rgb(255, 0, 0);
  box-shadow: 
    0 0 10px rgba(255, 0, 0, 0.9),
    0 0 20px rgba(255, 0, 0, 0.7),
    0 0 30px rgba(255, 0, 0, 0.5);

  background: rgba(255, 0, 0, 0.15);
}

