/* Perspectives */
#pov1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: url('imgs/walls/Door Wall.png') center/cover no-repeat;
}
#pov2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: url('imgs/walls/Desk Wall.png') center/cover no-repeat;
}
#pov3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: url('imgs/walls/Shelf Wall.png') center/cover no-repeat;
}
#pov4 {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: url('imgs/walls/Vent Wall.png') center/cover no-repeat;
}

/* Items Postitions */
#i1 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 23%;
  left: 60%;
}

#i2 {
  position:absolute;
  width: 200px;
  height: 200px;
  top: 23%;
  left: 32%;
}
