/* Pov 1-4 */
#pov1 {
  background-image: url('../imgs/walls/deskwall.png');
}

#pov2 {
  background-image: url('../imgs/walls/doorwall.png');
}

#pov3 {
  background-image: url('../imgs/walls/shelfwall.png');
}

#pov4 {
  background-image: url('../imgs/walls/ventwall.png');
}

/* Items Positions */
#pencil_broken {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 23%;
  left: 32%;
}
#bottle {
  position:absolute;
  width: 150px;
  height: 150px;
  top: 55%;
  left: 62%;
  transform: rotate(-27deg);
}
#bottle img {
  width: 150px;
}
#blank_paper {
  position:absolute;
  width: 125px;
  height: 125px;
  top: 75%;
  left: 27%;
  transform: rotate(-10deg);
  z-index: 20;
}
#blank_paper img {
  width: 125px;
  height: 125px;
}
.coinPickup {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: float 3s ease-in-out infinite alternate;
}
#coin1_desk {
  position:absolute;
  visibility: visible;
  width: 50px;
  height: 50px;
  top: 80%;
  left: 70%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin1_desk img {
  width: 50px;
}
#coin2_desk {
  position:absolute;
  visibility: visible;
  width: 50px;
  height: 50px;
  top: 6%;
  left: 37%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin2_desk img {
  width: 50px;
}
#coin1_door {
  position:absolute;
  visibility: visible;
  width: 50px;
  height: 50px;
  top: 19%;
  left: 56.7%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin1_door img {
  width: 50px;
}
#coin2_door {
  position:absolute;
  visibility: hidden; /* does not appear in this layout */
  width: 50px;
  height: 50px;
  top: 80%;
  left: 70%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin2_door img {
  width: 50px;
}
#coin1_shelf {
  position:absolute;
  visibility: visible;
  width: 50px;
  height: 50px;
  top: 20%;
  left: 77%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin1_shelf img {
  width: 50px;
}
#coin2_shelf {
  position:absolute;
  visibility: visible;
  width: 50px;
  height: 50px;
  top: 97%;
  left: 70%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin2_shelf img {
  width: 50px;
}
#coin3_shelf {
  position:absolute;
  visibility: hidden; /* appears when trophy is clicked */
  width: 50px;
  height: 50px;
  top: 80%;
  left: 70%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin3_shelf img {
  width: 50px;
}
#coin1_vent {
  position:absolute;
  visibility: hidden; /* does not appear in this layout */
  width: 50px;
  height: 50px;
  top: 80%;
  left: 70%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin1_vent img {
  width: 50px;
}
#coin2_vent {
  position:absolute;
  visibility: hidden; /* does not appear in this layout */
  width: 50px;
  height: 50px;
  top: 80%;
  left: 70%;
  animation: float 3s ease-in-out infinite alternate;
}
#coin2_vent img {
  width: 50px;
}

#gum_unwrapped {
  position:absolute;
  width: 200px;
  height: 200px;
  top: 23%;
  left: 60%;
}

#gum_unwrapped {
  visibility: hidden;
}
#keys {
  visibility: hidden;
}
#idcard {
  visibility: hidden;
}
#screwdriver {
  visibility: hidden;
}
#login1 {
  visibility: hidden;
}

/* Interactables Positions */
#computer {
  position:absolute;
  width: 450px;
  height: 450px;
  top: 38%;
  left: 32%;
}
#computer img {
  width: 450px;
}

#doorknob {
  position:absolute;
  width: 100px;
  height: 100px;
  top: 49%;
  left: 70%;
}
#doorknob img {
  width: 100px;
}
#keyhole {
  position:absolute;
  width: 50px;
  height: 50px;
  top: 63%;
  left: 70%;
}
#keyhole img {
  width: 50px;
}
#scanner {
  position:absolute;
  width: 196px;
  height: 196px;
  top: 29%;
  left: 51.5%;
}
#scanner img {
  width: 196px;
}
#bin {
  position:absolute;
  width: 150px;
  height: 150px;
  top: 80%;
  left: 15%;
}
#bin img {
  width: 150px;
}

#picture {
  position:absolute;
  width: 100px;
  height: 100px;
  top: 15%;
  left: 83%;
}
#picture img {
  width: 100px;
}
#trophy {
  position:absolute;
  width: 125px;
  height: 125px;
  top: 40%;
  left: 66.5%;
}
#trophy img {
  width: 125px;
}
#books1 {
  position:absolute;
  width: 110px;
  height: 110px;
  top: 64%;
  left: 66.25%;
}
#books1 img {
  width: 110px;
}
#books2 {
  position:absolute;
  width: 110px;
  height: 110px;
  top: 64%;
  left: 80%;
}
#books2 img {
  width: 110px;
}
#books3 {
  position:absolute;
  width: 110px;
  height: 110px;
  top: 42%;
  left: 80%;
}
#books3 img {
  width: 110px;
}
#chest {
  position:absolute;
  width: 150px;
  height: 150px;
  top: 80%;
  left: 77%;
}
#chest img {
  width: 150px;
}

#vent {
  position:absolute;
  width: 300px;
  height: 300px;
  top: 60%;
  left: 63%;
}
#vent img {
  width: 300px;
}
#plant {
  position:absolute;
  width: 250px;
  height: 250px;
  top: 58%;
  left: 12%;
}
#plant img {
  width: 250px;
}

/* corkboard */
#cal {
  position: absolute;
  top: 28%;
  left: 39%;
  width: 150px;
  transform: translate(-50%, -50%);
}
#hint1 {
  position: absolute;
  top: 21%;
  left: 28%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(20deg);
}
#hint2 {
  position: absolute;
  top: 19%;
  left: 22%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(15deg);
}
#hint3 {
  position: absolute;
  top: 31%;
  left: 26%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
}
#hint4 {
  position: absolute;
  top: 40%;
  left: 38%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(-10deg);
}
#hint5 {
  position: absolute;
  top: 36%;
  left: 34%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(15deg);
}
#hint6 {
  position: absolute;
  top: 42%;
  left: 21%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(-10deg);
}
#hint7 {
  position: absolute;
  top: 44%;
  left: 30%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
}
#hint8 {
  position: absolute;
  top: 33%;
  left: 20%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(5deg);
}
#hint9 {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 50px;
  transform: translate(-50%, -50%);
  transform: rotate(-15deg);
}

/* Floating Animation */

@keyframes float {
  0% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(-20px); /* Move up by 20px */
  }
  100% {
    transform: translateY(0); /* Return to starting position */
  }
}
