
/* Pov 1-4 */
#pov1 {
  background-image: url('../imgs/walls/Desk\ Wall.png');
}

#pov2 {
  background-image: url('../imgs/walls/Door\ Wall.png');
}

#pov3 {
  background-image: url('../imgs/walls/Shelf\ Wall.png');
}

#pov4 {
  background-image: url('../imgs/walls/Vent\ Wall.png');
}

/* Items Postitions */
#i1 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 23%;
  left: 32%;
}

#i2 {
  position:absolute;
  width: 200px;
  height: 200px;
  top: 23%;
  left: 60%;
}
