
/* Main Background */
body {
  margin: 0;
  background-color: black;
}

/* Timer HUD */
#hud {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
}

/* Time */
#timer {
  font-family: monospace;
  font-size: 24px;
  padding: 6px 10px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 6px;
  border: 1px solid #666;
}

/* Container for the game's display */
.container {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}

/* Each of the POVs that are seen within the container */
.povs {
  display: none;        /* hide by default */
  position: relative;

  width: 100%;
  height: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  image-rendering: pixelated;
}

/* Only the active POV is shown */
.povs.active {
  display: block;
}

/* arrows */ 
.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  width: 60px;
  height: 60px;
  background: magenta;   /* This was temp, just wanted to be sure I could see them */
  color: black;
  font-size: 40px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
  z-index: 20;                  
}

#leftarrow {
  left: 10px;
}

#rightarrow {
  right: 10px;
}

