/* Main Background */
body {
  margin: 0;
  background-color: black;
  cursor: url("../sprites/hud/hand_point2.png") 16 16, auto;
}

/* Timer HUD */
#hud {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
}

/* Cursor interactions */
.officeItem:hover {
  cursor: url("../sprites/hud/hand_open.png") 16 16, pointer;
}

.officeItem.interactable:hover {
  cursor: url("sprites/cursors/interact.png") 8 8, pointer;
}

.arrows:hover {
  cursor: url("../sprites/hud/hand_point1.png") 16 16, pointer;
}

body.grabbing {
  cursor: url("../sprites/hud/hand_closed.png") 16 16, auto;
}

#inventory .slot:hover {
cursor: url("../sprites/hud/hand_open.png") 16 16, pointer;
}


/* Time */
#timer {
  font-family: monospace;
  font-size: 24px;
  padding: 6px 10px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 6px;
  border: 1px solid #666;
}
#coinCount {
  font-family: monospace;
  font-size: 24px;
  padding: 10px 10px 0px 10px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 6px;
  border: 1px solid #666;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 60px;
}
#coinCount p {
  margin: 0;
  line-height: 50px;
}
#coinCount img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 0px;
}

/* Container for the game's display */
.container {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 80vw;
  height: 75vh;
  
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}

/* Each of the POVs that are seen within the container */
.povs {
  display: none;        /* hide by default */
  position: relative;

  width: 100%;
  height: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  image-rendering: pixelated;
}

/* Only the active POV is shown */
.povs.active {
  display: block;
}

/* arrows */ 
.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  width: 60px;
  height: 60px;
  font-size: 40px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
  z-index: 20;                  
}

#leftarrow {
  left: 10px;
  background-image: url("../sprites/hud/arrow_left.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#rightarrow {
  right: 10px;
  background-image: url("../sprites/hud/arrow_right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
