#textbox {
  position: fixed;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.75);
  color: #fff;
  padding: 12px 16px;
  border: 1px solid #666;
  border-radius: 8px;
  font-size: 14px;

  display: none;
  z-index: 20;
}

#textbox.show {
  display: block;
}